---
import { getCollection } from "astro:content";
const products = await getCollection("products");
---

<h1>Crotch Eating</h1>

<div>Here you are, right where you need to be</div>

<ul>
  {products.map((product) => <li>{product.data.title}</li>)}
</ul>
