---
import { getCollection } from "astro:content";
import Layout from "../components/Layout.astro";
import Grid from "../components/Grid.astro";
const products = await getCollection("products");
const patterns = await getCollection("patterns");
---

<Layout>
  <h1>Crotch Eating</h1>

  <div>Here you are, right where you need to be</div>
  <a href="https://www.youtube.com/watch?v=a-Zp0YimAyo">
    <img class="kitty" src="https://placecats.com/300/200" /></a
  >
  <div>Items</div>
  <Grid collectionName="products" />
  <div>Patterns</div>
  <Grid collectionName="patterns" />
</Layout>

<style>
  img.kitty {
    max-width: 90px;
    border-radius: 6px;
    aspect-ratio: 3.5 / 3;
    object-fit: cover;
  }
</style>
